@import "tailwindcss";
@import "tw-animate-css";

::-webkit-scrollbar {
  display: none;
}

html {
  scrollbar-width: none;
}

body {
  -ms-overflow-style: none; /* IE and Edge */
  overflow-y: scroll;
  background:black;
}
